# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Node (in case you use it later)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


!/assets/certificates/*.jpg
!/assets/certificates/*.JPG
!/assets/certificates/*.png
!/assets/certificates/*.webp
!/assets/certificates/COLOCA_AQUI_LOS_CERTIFICADOS.txt

!/assets/images/*.jpg
!/assets/images/*.JPG
!/assets/images/*.png


# Models
!/assets/models/
!/assets/models/*.onnx

